.dg-footer{
    background-color: #000511;
    .dg-titulo {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        padding: 60px 0 35px;
    }
}

.dg-logo-footer {
    display: flex;
    justify-content: center;
    img{
        margin: 0 30px;
        @media(max-width: 991px){
            margin: 0;
            width: 150px;
		}
    }
}

.dg-legenda {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 25px 0 50px;
}