.dg-header{
    background-image: url(../img/banner/banner-principal_02.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 886px;
    background-color:#000511;
    @media(max-width: 991px){
        background-image: none;
        height: auto;
    }
}

@media(min-width: 992px){
    .dg-logo-mobile{
        display: none;
    }
}

@media(max-width: 991px){
    .dg-logo-mobile{
        display: block;
        text-align: center;
    }
}

.dg-texto-header{
    padding: 220px 0 0 428px;
    @media(max-width: 991px){
        padding: 20px 15px 0 15px;
    }
    p{
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
    }
    .dg-aviso{
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        padding: 18px 0 0 0;
        font-style: italic;
        line-height: 22px;
        span{
            display: block;
        }
    }
}